@import '~antd/dist/antd.css';
/*Common*/
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.bg-white {
  background: #fff;
}
.m-0 {
  margin: 0px;
}
.m-10 {
  margin: 10px!important;
}
.mLR10 {
  margin: 0px 10px;
}
.ml-auto {
  margin-left: auto;
}
.mb-0 {
  margin-bottom: 0px!important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.btn-mr8 {
  margin-right: 8px;
}
.p-0 {
  padding: 0px!important;
}
.pl-0 {
  padding-left: 0px!important;
}
.pr-0 {
  padding-right: 0px!important;
}
.pLR10 {
  padding: 0px 10px;
}
.p-x8-y16 {
  padding: 8px 16px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.fs-15 {
  font-size: 1.5rem;
}
.fs-2 {
  font-size: 2rem;
}
.fw-700 {
  font-weight: 700;
}
.br-b-0 {
  border-bottom: 0px;
}
.br-r-0 {
  border-right: 0px;
}
/*Common*/
/*Media Query*/
@media only screen and (max-width: 991px) {
  .filterBox .ant-col {
    margin-bottom: 5px;
    margin-left: initial;
    display: block!important;
    width: 100%;
  }
  .filterBox .ant-col:nth-of-type(1) {
    padding-left: 6px!important;
  }
  .salesSummaryContent .ant-row .ant-col .bg-white {
    margin: 0px 14px 14px 14px!important;
    padding: 14px!important;
  }
}
@media only screen and (max-width: 991px) and (orientation: landscape) {
  .filterBox .ant-col {
    width: auto;
    margin-right: 5px!important;
  }
  .filterBox .ant-col:nth-of-type(1) {
    padding-left: 0px!important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .filterBox .ant-col {
    width: auto;
  }
  .filterBox .ant-col:nth-of-type(1) {
    padding-left: 0px!important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .filterBox .ant-col {
    width: auto;
  }
  .filterBox .ant-col:nth-of-type(1) {
    padding-left: 6px!important;
  }
}
/*Table*/
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 8px 16px !important;
}
.ant-table-tbody > tr.ant-table-measure-row > td {
  padding: 0px !important;
}
/*Filter Dropdown*/
.locationDropdown span {
  color: #30649B;
}
/*Empty*/
.emptyMessageBox p {
  color: rgba(0, 0, 0, 0.65) !important;
}
